.chart-wrapper {
  height: 400px;
  display: flex;
  padding-top: 20px;
  justify-content: center;
}

.bar-chart {
  width: 100% !important;
}

.recharts-default-tooltip{
  display: none;
}

.recharts-layer .recharts-cartesian-axis-tick {
  font-size: 12px !important;

}
